body{
    font-family: "Times New Roman", serif;
    text-align: justify;
    background-color: #F2FFFC;
    }

main h1  {
    font-family: "Arial", sans-serif;
    font-size: 60px;
    color: #FFFFFF;
    text-align: center;
    background-color: #851944;
    }

h2  {
    font-size: 40px
    font-family: "Arial", sans-serif;
    }